*{
    margin: 0;
    padding:0;
}

.game{
    width:100%;
    height: 100vh;
    background-image: url(images/photo-1602130520529-8a9be291ca62.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.startScreen {
    position: absolute;
    background-color: #2e3131;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}

.hide {
    display: none;
}

.score {
    position: absolute;
    top:15px;
    left: 40px;
    background: linear-gradient(to right bottom, #273c75, #079992);
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 70px;
    text-align: center;
    color: white;
    box-shadow: 0 5px 5px #777;
}
.music {
    position: absolute;
    top:15px;
    left: 40px;
    background-color: blue;
    width: 100px;
    /* height: 70px; */
    line-height: 70px;
    text-align: center;
    color: white;
    box-shadow: 0 5px 5px #777;
}

.car {
    width: 50px;
    height: 90px;
    /* background: red; */
    position: absolute;
    bottom: 120px;
    background-image: url(images/car1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.gameArea {
    width: 400px;
    height: 100vh;
    background-color:#2e3131;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-left: 7px dashed white;
    border-right: 7px dashed white;
}

.lines{
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 195px;
}

.enemy-car{
    width: 50px;
    height: 90px;
    
    position: absolute;
    bottom: 120px;
    background-image: url(images/car1.png);
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button#playPauseBTN {
    position: absolute;
    left: 70%;
    top:15px;
    z-index: 99;
    padding: 10px 25px;
    font-size: 22px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right bottom, #273c75, #079992);
    box-shadow: 0 5px 5px #777;
    border: none;
}