*{
    margin: 0;
    padding:0;
}

.hide {
    display: none;
}

.score {
    position: absolute;
    top:15px;
    left: 40px;
    background-color: blue;
    width: 100px;
    /* height: 70px; */
    line-height: 70px;
    text-align: center;
    color: white;
    box-shadow: 0 5px 5px #777;
}

.car {
    width: 50px;
    height: 70px;
    background: red;
    position: absolute;
    bottom: 120px;
}

.gameArea {
    width: 400px;
    height: 100vh;
    background-color:#2e3131;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.lines{
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 195px;
}

.enemy-car{
    width: 50px;
    height: 70px;
    background: red;
    position: absolute;
    bottom: 120px;
}