*{
    margin: 0;
    padding:0;
}

.hide {
    display: none;
}

.car {
    width: 50px;
    height: 70px;
    background: red;
    position: absolute;
    bottom: 120px;
}

.gameArea {
    width: 400px;
    height: 100vh;
    background-color:#2e3131;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.lines{
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 195px;
}